.table-responsive {
    padding: 0rem !important;
}

.profile-pic > .dropify-wrapper {
    aspect-ratio: 3/4 !important;
    max-height: 300px !important;
    width: auto !important;
    height: 100% !important;
    margin: 0 auto !important;
}

.dataTables_wrapper > .row:first-child {
    padding: 1rem !important;
}

.dataTables_wrapper > .row:last-child {
    padding: 1rem !important;
}

.tab-wrapper {
    padding: .5rem .5rem 0rem .5rem !important;
    background-color: rgb(233, 236, 239);
}

.nav-link:hover {
    background-color: white;
    transition: all 100ms ease-out !important;
}

.image-filler {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    object-fit: cover;
    border-radius: 5px; 
}

.image-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    /* width: 100%; */
}

.image-wrapper > div {
    overflow: hidden;
    position: relative;
    cursor: pointer;

}

.image-wrapper > div > img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.image-filler:hover {
    transform: scale(1.3); /*translateY(200px); */
    border: 2px solid white;
    transition: 400ms ease-in;
}

.bg-selected {
    background: rgba(0, 64, 255, 0.13);
}
/* 
.form-check {
    display: flex;
    align-items: center;
} */

